html {
    background-color:#ccc;
}

div.wrapper {
    background-color:#fff;
    width:80%;
    margin:auto;
    overflow:auto;
}

iframe.fl-doc {
        width:100%;
    }

footer {
    clear:both;
    text-align: center;
    padding:.75em;
}

h1 {
    text-align: center;
}

section {
        width:auto;
        float:left;
        min-height:500px;
        margin-left: 3%;
    }
